<a href="https://colab.research.google.com/github/alvas-education-foundation/sushant-poojary-colab/blob/master/Day3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

secession1

In [11]:
#Write a Python program to find numbers between 100 and 400 (both included) which are divisable both by 5 or 7. The numbers obtained should be printed in a comma-separated sequence
N = [print(x,end = ',') for x in range(100,401) if x%5 is 0 or x%7 is 0]

100,105,110,112,115,119,120,125,126,130,133,135,140,145,147,150,154,155,160,161,165,168,170,175,180,182,185,189,190,195,196,200,203,205,210,215,217,220,224,225,230,231,235,238,240,245,250,252,255,259,260,265,266,270,273,275,280,285,287,290,294,295,300,301,305,308,310,315,320,322,325,329,330,335,336,340,343,345,350,355,357,360,364,365,370,371,375,378,380,385,390,392,395,399,400,

In [2]:
#link textWrite a Python program to find prime numbers between 200 and 600 (both included). The numbers obtained should be printed in a comma-separated sequence
for x in range(200,601):
  for y in range(2,x//2+1):
    if x%y == 0:
      break
  else:
    print(x,end=',')

211,223,227,229,233,239,241,251,257,263,269,271,277,281,283,293,307,311,313,317,331,337,347,349,353,359,367,373,379,383,389,397,401,409,419,421,431,433,439,443,449,457,461,463,467,479,487,491,499,503,509,521,523,541,547,557,563,569,571,577,587,593,599,

In [3]:
#Write a Python program to find All Numbers which are Odd and Palindromes Between a Range of Numbers without using Recursion. The numbers obtained should be printed in a comma-separated sequence
N = [print(x,end=',') for x in range(int(input('Enter Lower range: ')),int(input('Enter Upper range: '))) if x%2 and str(x) == str(x)[::-1]]

Enter Lower range: 6
Enter Upper range: 36
7,9,11,33,

In [4]:
#Write a Python Program to read a number n and print the series “5+10+…..+n = sum upto n ” . The numbers should be printed as they are shown in the quotes with sum of numbers upto n
arr = [x for x in range(5,int(input('Enter the number : '))+1,5)]
print('+'.join([str(i) for i in arr]),'=',sum(arr))

Enter the number : 12
5+10 = 15


Session 2

In [5]:
#Write a Python Program to Print Multiplication Table of a number which got through keyboard
n = int(input('Enter the number : '))
arr = [print(n,'x',x,'=',n*x) for x in range(1,11)]

Enter the number : 26
26 x 1 = 26
26 x 2 = 52
26 x 3 = 78
26 x 4 = 104
26 x 5 = 130
26 x 6 = 156
26 x 7 = 182
26 x 8 = 208
26 x 9 = 234
26 x 10 = 260

In [7]:
#Write a Python Program to find the Armstrong Numbers between 1 and 2000 ( i.e 153 is amtrong numbers as 13+53+3**3=153 )
for x in range(1,2000):
  i = str(x)
  l = len(i)
  ex = []
  for y in range(l):
    ex.append(i[y]+'**'+str(l))
  if eval('+'.join(ex)) == x:
    print(x,end = ' ')

1 2 3 4 5 6 7 8 9 153 370 371 407 1634

In [9]:
#Write a python program to get the list of tuples (rollno, name) for n students by getting rollno and name through keyboard. Sort and print them as rollno wise and name wise both ascending and descending as well as alphabetical and dealphabetical orders
import operator
arr = [(int(input('Enter rollno %d: '%(x))),input('Enter name %d: '%(x))) for x in range(1,int(input('Enter no of students: '))+1)]
print('Student details based on rollno in ascending order',sorted(arr))
print('Student details based on rollno in descending order',sorted(arr,reverse = True))
print('Student details based on name in ascending order',sorted(arr,key = operator.itemgetter(1)))
print('Student details based on name in descending order',sorted(arr,key = operator.itemgetter(1),reverse = True))

Enter no of students: 3
Enter rollno 1: 45
Enter name 1: sushant
Enter rollno 2: 43
Enter name 2: shreyas
Enter rollno 3: 42
Enter name 3: sumit
Student details based on rollno in ascending order [(42, 'sumit'), (43, 'shreyas'), (45, 'sushant')]
Student details based on rollno in descending order [(45, 'sushant'), (43, 'shreyas'), (42, 'sumit')]
Student details based on name in ascending order [(43, 'shreyas'), (42, 'sumit'), (45, 'sushant')]
Student details based on name in descending order [(45, 'sushant'), (42, 'sumit'), (43, 'shreyas')]

In [10]:
#Python Program to Detect if Two Strings are Anagrams ( They are the two strings which have same length and same words which may be different in their order)
s1 = input('Enter the 1st string: ')
s2 = input('Enter the 2nd string: ')
if len(s1) == len(s2) and sorted(set(s1)) == sorted(set(s2)):
  print('Strings are Anagrams')
else:
  print('Strings are not Anagrams')

Enter the 1st string: megrefgefvef
Enter the 2nd string: gsrrgegthrhb
Strings are not Anagrams